@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

*{
    font-family: 'Montserrat', sans-serif;
}

body{
    /* width: 28rem; */
    background-color: black;  

}

::-webkit-scrollbar{
    display: none;
}
.cards{
    font-family:'Oswald', sans-serif;
}